<% include ./partials/header %>
<h1>Sign UP</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>
<% include ./partials/footer %>
<!--<li><a href="/register">SignUp</a></li>-->
<!--<li><a href="/logIn">log In</a></li>-->
<!--<li><a href="/logout">log out</a></li>-->