<% include ./partials/header %>
<h1>login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
<% include ./partials/footer %>
<!--<li><a href="/register">SignUp</a></li>-->
<!--<li><a href="/logIn">log In</a></li>-->
<!--<li><a href="/logout">log out</a></li>-->