<% include partials/header %>
<!--   <nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--		<div class="container">-->
<!--			<div class="navbar-header">-->
<!--				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger_id" aria-expanded="false">-->
<!--			        <span class="sr-only">Toggle navigation</span>-->
<!--			        <span class="icon-bar"></span>-->
<!--			        <span class="icon-bar"></span>-->
<!--			        <span class="icon-bar"></span>-->
<!--		      	</button>-->
<!-- 				<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> LetsFutol</a>
 -				<a href="#" class="navbar-brand"><i class="fas fa-futbol"></i></span> LetsFutol</a>
<!--			</div>-->
<!--			<div class="collapse navbar-collapse" id="hamburger_id">-->
<!--				<ul class="nav navbar-nav">-->
<!--					<li class="active"><a href="#"> Home</a></li>-->
<!--					<li><a href="#"> About</a></li>-->
<!--					<li><a href="#">Contact</a></li>-->
<!--				</ul>-->
<!--				<ul class="nav navbar-nav navbar-right">-->
<!--					<li><a href="#"> Login  <i class="fas fa-user"></i></a></li>-->
<!--					<li><a href="#">Sign Up  <i class="fas fa-user-plus"></i></a></li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</nav>-->
 <div class = "container">
      <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to Saint Cloud Apartments</h1>
            <p>Explore your nearest apartments</p>
            <p>
                <a class ="btn btn-primary btn-lg" href ="/apartments/new"> Add new Apartment </a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style = "display:flex; flex-wrap: wrap;">
        <% apartments.forEach(function(apartments){ %>
            <div class = "col-sm-6 col-md-4">
                <div class = "thumbnail">
                    <img src = "<%= apartments.image %>">
                    <div class = "caption">
                        <h4><%= apartments.name %></h4>
                    </div>
                    <p>
                        <a href = "/apartments/<%= apartments._id %>" class = "btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
 </div>
   
<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<% include partials/footer %>