<% include partials/header %>
 <div class = "container">
      <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to Saint Cloud Apartments</h1>
            <p>Explore your nearest apartments</p>
            <p>
                <a class ="btn btn-primary btn-lg" href ="/apartments/new"> Add new Apartment </a>
            </p>
        </div>
    </header>
    
    <div class="row" style = "display:flex; flex-wrap: wrap;">
        <% apartments.forEach(function(apartments){ %>
            <div class = "col-sm-6 col-md-4">
                <div class = "thumbnail">
                    <img src = "<%= apartments.image %>">
                    <div class = "caption">
                        <h4><%= apartments.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
 </div>
   
<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<% include partials/footer %>